<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-Commerce Practice</title>
    <!-- <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/logo/favicon.ico')}}"> -->

    
    <!-- Google icon-->    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- Custome CSS Styles-->
    <link rel="stylesheet" href="../static/css/root.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    {{ ckeditor.load() }}
</head>
<body>

    <header>
        <img src="../static/images/header_shop_3.jpg" alt="">    

        <div class="title">
            <h1>Virtual Market Hub</h1>
            <h3>A Showcase of Design and Functionality - This is a demo site for portfolio purposes only and does not process real transactions.</h3>
        </div>



    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <section>
        <h1>Customer Review</h1>
        <div>
            <img src="../static/images/user_sample.jpg" alt="">
            <h3>Emily R.</h3>
            <h1>★★★★★</h1>
            <h3>"Exceptional Shopping Experience!"</h3>
            <p>
                "Fantastic shopping experience! The Vintage Denim Jacket I ordered was of amazing quality and fit perfectly. Impressed with the quick delivery and excellent customer service. Highly recommend!"
            </p>
        </div>

        <div>
            <img src="../static/images/user_sample_guy2.png" alt="">
            <h3>Alex G.</h3>
            <h1>★★★★★</h1>
            <h3>"Outstanding Quality!"</h3>
            <p>
                "Love this site! I bought the Leather Crossbody Bag, and it's fantastic. Great quality, fast shipping. Will definitely shop here again!"
            </p>
        </div>


    </section>

    <footer>
        <div>
            <h2>How to Test Payments</h2>
        <p>To test the payment functionality, please use the following Stripe test card details:</p>
        <ul>
            <li><strong>Card Number:</strong> 4242 4242 4242 4242</li>
            <li><strong>Expiration Date:</strong> Any future date (e.g., 12/34)</li>
            <li><strong>CVC:</strong> Any 3 digits (e.g., 123)</li>
            <li><strong>ZIP:</strong> Any 5 digits (e.g., 12345)</li>
        </ul>
 
            <!-- <a href="{{url_for('add_product')}}">+ Add Product</a> -->
        </div>
        <div>
            <p>Developed by:</p>
            <a href="https://alijafarbeglou.com" target="_blank"><h3>www.alijafarbeglou.com</h3></a>
            
        </div>
    </footer>


    <script src="https://js.stripe.com/v3/"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>